.App {
  text-align: center;
}

* {
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

text {
  font-weight: bold;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.vx-legend-label {
  color: white;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
}

.vx-legend {
  justify-content: center;
}